<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="GRCEntities" connectionString="metadata=res://*/GRC_Entities.csdl|res://*/GRC_Entities.ssdl|res://*/GRC_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=GRC;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>